

<div class="container">
<h2>Product</h2>
<h3>select2 with ajax search</h3>
<br>
  <div class="row">
    <div class="col-md-12">
      <select id="test" class="form-control">
      </select>
    </div>
  </div>
</div>

