<div class="container">
  <h2>Product</h2>
  <h3>select2 with ajax search</h3>
  <br>
  <div class="row">
    <div class="col-md-12">
      <select id="select_product" class="form-control">
      </select>
    </div>
  </div>
  <h3>second select for color</h3>
  <div class="row">
    <div class="col-md-6">
      <select id="select_color" class="form-control">
      </select>
    </div>
  </div>
  <h3>third select for dimension</h3>
  <div class="row">
    <div class="col-md-6">
      <select id="select_dimension" class="form-control">
      </select>
    </div>
  </div>
</div>
